/* Menu */
.main-nav {
position: relative;
margin: 20px 0;
}
.main-nav ul {
margin: 0;
padding: 0;
}
.main-nav li {
margin: 0 5px 10px 0;
padding: 0;
list-style: none;
display: inline-block;
}


/*sub menu*/
.main-nav li ul{
//margin: 0 5px 10px 0;
margin: 0;
padding: 0;
list-style: none;
display: none;
}

.main-nav li:hover ul{
//margin: 0 5px 0px 0;
margin: 0 ;
//padding-top: 5px;
list-style: none;
display: block;
position: absolute;
}
.main-nav ul li:hover ul li{
  display: block;
}

/*sub menu*/
.main-nav a {
padding: 3px 12px;
text-decoration: none;
color: #999;
line-height: 100%;
}
.main-nav a:hover {
color: #000;

}
.main-nav .current a {
background: #999;
color: #fff;
border-radius: 5px;
}
 .current{
display: none;
font-size: 30px;
}

.main-nav.center ul {
text-align: center;
}

 .vivsibleNone{
  display: block ;
}


@media screen and (max-width: 800px) {
.vivsibleNone{
  display: block  !important ;
}
.main-nav li:hover{
  background: #D4D4D4;
}
.main-nav {
position: relative;
min-height: 40px;
}
.main-nav ul {
width: 250px;
/*padding: 35px 0;
position: absolute;
top: 0;
left: 0;*/
display: none;
//height:35px;
border: solid 1px #aaa;
background: #fff  no-repeat 10px 11px;
//border-radius: 5px;
//box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.main-nav ul li {
display: block; /* hide all <li> items */
margin: 0;
}

.current {
display: block !important;
text-align: center;
width: 252px;
background: #ff0000;
font-weight: 900;
cursor: pointer;
}
.main-nav a {
display: block;
margin: 0;
padding: 5px 5px 5px 32px;
text-align: left;
}
.main-nav a:hover{
 padding: 5px 5px 5px 42px;
}

.main-nav .current a {
background: none;
color: #666;
}
.main-nav li ul{
  display: block;
 // margin-left: 10px;
 border: none;
 width: 236px;
 padding-left: 10px;
}
.main-nav li:hover ul{
  position: relative;
  display: block;
  margin: 0  ;
}

/* При наведении указателя мыши на меню
.main-nav ul:hover {
background-image: none;
}
.main-nav ul:hover li {
   margin: 0px;
 padding: 0px;
display: block;
//margin: 0 0 5px;

}
/*.sub-menu  {
  display: none;
}

.main-nav ul li:hover .sub-menu {
display: block !important;
margin: 0px ;
padding: 0px;
position: static;
//width: 70%;
    background: #A8A8A8;
    transition:  1000ms ease 1111ms;
}
.main-nav ul li ul li {
 margin-left: 10px;
 padding: 0px;

} */
/*.main-nav ul li:hover .main-nav li{
  display: block;
}

.main-nav ul:hover .current {
background: url(images/icon-check.png) no-repeat 10px 7px;
} */

/* Меню справа */
/*.main-nav.right ul {
left: auto;
right: 0;
}
/* Меню в центре //*/
.main-nav{
left: 50%;
margin-left: -125px;
}
}

