/* Menu */
.main-nav {
margin: 20px 0;
min-height: 50px;
position: relative;
float: right;
font-weight: 600;
font-size: 14px;
 margin-top: 20px;
}
.menu-general-container {
  text-align: right;
}
.main-nav ul {
margin: 0;
padding: 0;
}
.main-nav li {
   margin: 5px 15px 10px;
padding: 0;
list-style: none;
display: inline-block;

}

.nav-menu{
  width: 100%;
  margin: 0 auto;

}

/*sub menu*/
.main-nav li ul{
//margin: 0 5px 10px 0;
margin: 0;
padding: 0;
list-style: none;
display: none;
}

.main-nav li:hover ul{
// margin-top: 11px ;
//padding-top: 5px;
list-style: none;
display: block;
position: absolute;
background: #DEDCE0;
width: 150px;
}
.main-nav ul li:hover ul li{
  display: block;
 width: 100%;
 margin: 0;
}

/*sub menu*/

.main-nav a {
  color: #f1efec;
  display: block;
  font-size: 12px;
  line-height: 100%;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.current_page_item {
color: #cbcac8;
border-bottom: #fefcec 1px solid;
}
.current_page_item:hover{
 border-bottom: none;
}

.main-nav a:hover {
color: #cbcac8;
border-bottom: #f1efec 1px solid;
//transition: linear 1000ms;

}
.main-nav .current a {
background: #999;
color: #fff;
border-radius: 5px;
}
 .current{
display: none;
font-size: 30px;
}

.main-nav.center ul {
text-align: center;
}

 .vivsibleNone{
  display: block ;
}

/* LIP */
 .fixed {
        position:fixed;
        top:0px; left:0;
        width:100%;
        padding: 10px 0 0 !important;
        z-index: 100;
        height:  auto;
        text-align: center;

        -moz-box-shadow: 5px 5px 20px #333;
        -webkit-box-shadow: 5px 5px 20px #333;
        box-shadow: 5px 5px 20px #333;
    }
    .transbg {
        background-color: rgba(120, 120, 120, 0.9) !important;
    }
/* LIP */

@media screen and (max-width: 800px) {

.current_page_item {
color: #cbcac8;
background-color: gray;
border-bottom: none;
}
.preheader {

  display: none;
}
#site-header img {
  width: 150px;
}
.inheader {
  background: gray none repeat scroll 0 0;
}

#site-header {
  float: none !important;
  height: auto !important;
  margin: 0 auto;
  width: 150px !important;
}

.vivsibleNone{
  display: block  !important ;
}
 .nav-menu{
   display: none ;
 }

.main-nav {
  margin: 0;
  float: none;
position: relative;
min-height: 40px;
}
.main-nav ul {
background: rgb(41, 41, 41) none no-repeat scroll 10px 11px;
display: none;
width: 100% !important;
}
.main-nav ul li {
display: block; /* hide all <li> items */
padding:0!important;
margin:0 !important;
}
.main-nav ul li{
    border-top: 1px dotted #fff;
}

.specialForLayerSlaider {
  margin: -25px auto !important;
}
.current {
 padding: 8px 0 12px;
display: block !important;
text-align: center;
width: 100%;
background: #45484a;
font-weight: 900;
cursor: pointer;color: #FFFFFF;
}
.main-nav a {
display: block;
font-size: 16px;
margin: 0;
padding: 10px 0px  !important;
text-align: center;
}
.main-nav a:hover{
// padding: 5px 5px 5px 42px;
color: #fff;
border: none;
width: 100%;
background-color: gray;
}

.main-nav .current a {
background: none;
color: #666;
}
.main-nav li ul a{
/*  display: block;
 // margin-left: 10px;
 border: none;
 width: 100%;*/
padding-left: 50px;
}

.main-nav li:hover ul{
  position: relative;
  display: block;
  margin: 0  ;
  background: none !important;
}


/* При наведении указателя мыши на меню
.main-nav ul:hover {
background-image: none;
}
.main-nav ul:hover li {
   margin: 0px;
 padding: 0px;
display: block;
//margin: 0 0 5px;

}
/*.sub-menu  {
  display: none;
}

.main-nav ul li:hover .sub-menu {
display: block !important;
margin: 0px ;
padding: 0px;
position: static;
//width: 70%;
    background: #A8A8A8;
    transition:  1000ms ease 1111ms;
}
.main-nav ul li ul li {
 margin-left: 10px;
 padding: 0px;

} */
/*.main-nav ul li:hover .main-nav li{
  display: block;
}

.main-nav ul:hover .current {
background: url(images/icon-check.png) no-repeat 10px 7px;
} */

/* Меню справа */
/*.main-nav.right ul {
left: auto;
right: 0;
}
/* Меню в центре //*/
/*.main-nav{
left: 50%;
margin-left: -125px;*/
}
}

